@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Grand+Hotel&family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(136, 27, 45, 0.8),
      rgb(20, 91, 214, 0.8)
    ),
    url("image/wallpaperflare.com_wallpaper\ \(1\).jpg");
  height: 95vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  /* clip-path: polygon(x y, x y, x y); */
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  position: relative;
}
body {
  padding: 15px;
  color: #777;
  font-family: "Comic Neue", cursive;
}
.logo-box {
  font-size: 50px;
  color: #d7d7cb;
  display: inline;
  position: absolute;
  top: 40px;
  left: 40px;
  text-shadow: -1px 0 #000, 0 10px #000, 1px 0 #000, 0 -1px #000;
}
.music {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  position: absolute;
  bottom: 40px;
  left: 40px;
  /* margin: 0; */
}
.heading-primary {
  color: #d7d7cb;
  text-transform: uppercase;
  backface-visibility: hidden;
}
.heading-primary-main {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 35px;
  text-shadow: -1px 0 #000, 0 10px #000, 1px 0 #000, 0 -1px #000;
  margin-left: -15px;

  /* putting-our-animation-here */

  animation-name: moveInLeft;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: 2;
}
.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 15px;
  text-shadow: -1px 0 #000, 0 10px #000, 1px 0 #000, 0 -1px #000;

  /* putting-our-animation-here */

  animation-name: moveInRight;
  animation-duration: 5s;
  animation-iteration-count: 2;
  animation-delay: 1s;
}
.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 60px;
}

/* Making the animation and name it moveInLeft to put that in the header ========= */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }

  80% {
    transform: translate(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Making the animation to put that in the header ========= */

/* ====== */

/* Making the animation and name it moveInRight to put that in the header ========= */

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(100px);
  }

  80% {
    transform: translate(-20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Making the animation to put that in the header ========= */
