@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Grand+Hotel&family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* main header file with wallpaper in it */
.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(136, 27, 45, 0.8),
      rgb(20, 91, 214, 0.8)
    ),
    url("image/wallpaperflare.com_wallpaper\ \(1\).jpg");
  height: 95vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  /* clip-path: polygon(x y, x y, x y); */
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  position: relative;
}
/* main header file with wallpaper in it */

body {
  padding: 15px;
  color: #777;
  font-family: "Comic Neue", cursive;
}
.header__logo-box {
  font-size: 50px;
  color: #d7d7cb;
  display: inline;
  position: absolute;
  top: 40px;
  left: 40px;
  text-shadow: -1px 0 #000, 0 10px #000, 1px 0 #000, 0 -1px #000;
}
/* music play button - Kozuki Hiyori*/
.header__music-logo {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: 2px solid black;
  position: absolute;
  bottom: 40px;
  left: 40px;

  /* margin: 0; */
}
/* music play button - Kozuki Hiyori*/

.heading-primary {
  color: #d7d7cb;
  text-transform: uppercase;
  backface-visibility: hidden;
}
/* main heading one piece =============*/
.heading-primary--main {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 35px;
  text-shadow: -1px 0 #000, 0 10px #000, 1px 0 #000, 0 -1px #000;

  /* putting-our-animation-here */

  animation-name: moveInLeft;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: 2;
}
/* main heading one piece ============ */
/*sub-header for our main heading =======*/
.heading-primary--sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 15px;
  text-shadow: -1px 0 #000, 0 10px #000, 1px 0 #000, 0 -1px #000;

  /* putting-our-animation-here */

  animation-name: moveInRight;
  animation-duration: 5s;
  animation-iteration-count: 2;
  animation-delay: 1s;
}
/*sub-header for our main heading =======*/

/*all the heading files in center =========== */
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 60px;
  text-align: center;
}
/*all the heading files in center =========== */

/* Making the animation and name it moveInLeft to put that in the header ========= */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }

  80% {
    transform: translate(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Making the animation to put that in the header ========= */

/* ====== */

/* Making the animation and name it moveInRight to put that in the header ========= */

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(100px);
  }

  80% {
    transform: translate(-20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Making the animation to put that in the header ========= */

/* animation for kaido's spiked weapon  */
.header__logo {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    color: #000;
    transform: rotate(360deg);
  }
}

/* animation for kaido's spiked weapon  */

/* designing our button  */
.btn-white {
  color: #d7d7cb;
}
button {
  padding: 1.5rem 3rem;
  border-radius: 10rem;
  font-size: 1rem;
  background-color: rgb(215, 215, 203, 0.1);
  font-weight: 400;
  border: none;
  color: #d7d7cb;
  text-transform: uppercase;
  font-family: "Comic Neue", cursive;
  letter-spacing: 0.3rem;
  position: relative;
}
a {
  text-decoration: none;
}
button:hover {
  transform: translate(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
button {
  transform: translateY(5px);
}
button:active {
  transform: scale(0.96);
  box-shadow: 0 05px 10px rgba(0, 0, 0, 0.2);
}
/* designing our button  */

/* give some cool animation effect to our button*/

@keyframes moveBtnInTop {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
button {
  animation: moveBtnInTop 5s ease-out 1s;
}
/* give some cool animation effect to our button*/
